The data set has been retrieved from the Kenya National Bureau of Statistics' official website. https://www.knbs.or.ke/data-releases/ ; the specific document being the the recent Quarter 1, 2023 GDP report. The analysis will delve into the reasons why this particular document/source was chosen.

In [4]:
import pandas as pd
import openpyxl

The source data is in PDF format. The conversion to excel was done using https://www.ilovepdf.com/pdf_to_excel . After conversion, we need to load the tables into data frames

In [6]:
# Load data from Table 4 worksheet
df_table4 = pd.read_excel('First-Quarter-2023-GDP-Report (1).xlsx', sheet_name='Table 4')

# Load data from Table 6 worksheet
df_table5 = pd.read_excel('First-Quarter-2023-GDP-Report (1).xlsx', sheet_name='Table 5')

In [14]:
df_table4.head(20)

,"Table 1: Gross Domestic Product by Activity, Current Prices (KSh Million)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,Year,Quar- ter,Agriculture,Mining and quarrying,Manufac- turing,Electricity and water supply,Construc- tion,Wholesale and retail trade,Accomm odation & Food\nServices,Transport and storage,Informatio n and communi\ncation
1,2018,NaN,1897475,68909,785369,217169,545654,762968,100019,1056264,240120
2,2019,NaN,2135709,72769,809253,220628,630653,837918,119581,1202830,257419
3,2020,NaN,2432613,76402,814328,223570,750153,867574,77843,1156921,274820
4,2021,NaN,2583190,92045,885633,235982,849377,952902,133678,1391614,291437
5,2022,NaN,2829505,120300,1046289,239982,953773,1042106,147342,1768220,318304
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2018,1,490237,18903,199902,53780,128305,189364,24266,249125,56499
8,NaN,2,553221,17210,189065,55318,130708,186473,23254,260081,55110
9,NaN,3,447489,15751,189071,53864,141169,194297,24069,274585,62650
10,NaN,4,406528,17045,207331,54207,145472,192834,28431,272473,65861
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2019,1,543176,18402,207415,54487,152755,202261,28733,294080,61936
13,NaN,2,589054,18048,200283,55866,155731,202674,25842,311451,58629
14,NaN,3,515988,16637,195306,57061,165404,213780,27734,306673,67245
15,NaN,4,487491,19682,206250,53214,156764,219202,37271,290626,69609
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2020,1,672188,19864,209401,54814,178341,211630,32165,290038,67291
18,NaN,2,679888,20033,196652,52575,181003,209179,14506,261909,61780
19,NaN,3,494552,17004,189196,57096,191261,206014,12582,297855,70942

In [15]:
df_table5.head(20)

,"Table 1: Gross Domestic Product by Activity, Current Prices (KSh Million) Cont’d",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,Year,Quar- ter,Financial & insurance,Public admi- nistration,"Professio nal, admin and support services",Real estate,Educatio n,Health,Other services,FISIM,All indust. at basic prices,Taxes on products,GDP at market prices,"GDP,\nseasonally adjusted"
1,2018,NaN,622625,493180,261461,881622,399515,188778,225790,-215414,8531502,808805,9340307,NaN
2,2019,NaN,667702,541367,284757,946732,431876,197969,240867,-226631,9371397,866330,10237727,NaN
3,2020,NaN,723059,592623,252237,996203,413090,212966,216385,-218639,9862147,852923,10715070,NaN
4,2021,NaN,860626,634986,284916,1076597,521945,238544,242577,-244592,11031456,996206,12027662,NaN
5,2022,NaN,1009433,671869,318531,1149057,542704,244335,263120,-264781,12400090,1082913,13483003,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2018,1,147452,114705,60357,212776,101752,42764,54548,-53058,2091678,193552,2285230,2262853
8,NaN,2,149766,127754,65292,218249,101607,46240,54978,-51893,2182434,199461,2381895,2316982
9,NaN,3,154836,123897,66800,223142,99962,47842,57589,-53278,2123734,200580,2324314,2361766
10,NaN,4,170571,126824,69013,227454,96194,51931,58675,-57185,2133656,215212,2348868,2403465
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2019,1,153577,125089,65835,231811,95684,45109,59909,-54015,2286245,196866,2483110,2453826
13,NaN,2,160324,140935,71216,235397,97226,48600,59834,-53135,2377975,218351,2596326,2526682
14,NaN,3,170504,135858,71413,238476,110441,49953,61233,-56051,2347655,215061,2562716,2612888
15,NaN,4,183296,139485,76293,241047,128524,54306,59891,-63430,2359523,236052,2595574,2649996
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2020,1,168877,133714,68970,243543,118079,46334,60215,-51415,2524048,224990,2749038,2709693
18,NaN,2,168060,150864,53914,246671,84979,54217,48561,-51267,2433527,185519,2619046,2552181
19,NaN,3,179792,150851,59724,250615,95713,54370,55714,-53221,2330061,206861,2536922,2598165

From the outputs, its evident that the rows 1-4 contains the yearly values while the the rest of the rows are the quarterly values. For the purpose of this analysis, the records will be combined into separated into quarterly and yearly averages.

In [17]:
# Set the first row as column headers
df_table4.columns = df_table4.iloc[0]
df_table5.columns = df_table5.iloc[0]

# Drop the duplicated row (used as headers) from both DataFrames
df_table4 = df_table4[1:]
df_table5 = df_table5[1:]

In [21]:
# Remove leading and trailing spaces from column names in both DataFrames
df_table4.columns = df_table4.columns.str.strip()
df_table5.columns = df_table5.columns.str.strip()

In [26]:
df_table5

,Financial & insurance,Public admi- nistration,"Professio nal, admin and support services",Real estate,Educatio n,Health,Other services,FISIM,All indust. at basic prices,Taxes on products,GDP at market prices,"GDP,\nseasonally adjusted"
1,622625,493180,261461,881622,399515,188778,225790,-215414,8531502,808805,9340307,NaN
2,667702,541367,284757,946732,431876,197969,240867,-226631,9371397,866330,10237727,NaN
3,723059,592623,252237,996203,413090,212966,216385,-218639,9862147,852923,10715070,NaN
4,860626,634986,284916,1076597,521945,238544,242577,-244592,11031456,996206,12027662,NaN
5,1009433,671869,318531,1149057,542704,244335,263120,-264781,12400090,1082913,13483003,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,147452,114705,60357,212776,101752,42764,54548,-53058,2091678,193552,2285230,2262853
8,149766,127754,65292,218249,101607,46240,54978,-51893,2182434,199461,2381895,2316982
9,154836,123897,66800,223142,99962,47842,57589,-53278,2123734,200580,2324314,2361766
10,170571,126824,69013,227454,96194,51931,58675,-57185,2133656,215212,2348868,2403465
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,153577,125089,65835,231811,95684,45109,59909,-54015,2286245,196866,2483110,2453826
13,160324,140935,71216,235397,97226,48600,59834,-53135,2377975,218351,2596326,2526682
14,170504,135858,71413,238476,110441,49953,61233,-56051,2347655,215061,2562716,2612888
15,183296,139485,76293,241047,128524,54306,59891,-63430,2359523,236052,2595574,2649996
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,168877,133714,68970,243543,118079,46334,60215,-51415,2524048,224990,2749038,2709693
18,168060,150864,53914,246671,84979,54217,48561,-51267,2433527,185519,2619046,2552181
19,179792,150851,59724,250615,95713,54370,55714,-53221,2330061,206861,2536922,2598165
20,206329,157195,69629,255374,114319,58044,51895,-62737,2574511,235553,2810064,2859337
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,195419,145171,64259,260947,136439,50688,56031,-55874,2672533,242256,2914789,2865041
23,205898,164514,69188,266457,120529,63779,61803,-56740,2756561,237746,2994307,2923405
24,215178,160209,72739,271904,129397,59193,64772,-60003,2699722,243109,2942831,3025630
25,244131,165092,78730,277288,135580,64884,59971,-71975,2902640,273095,3175735,3223069
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,236707,155781,74802,282609,141417,51693,61941,-61273,3074937,252041,3326978,3261862
28,245652,173070,77661,286599,121933,61723,66062,-57167,3139491,270678,3410169,3333189
29,245281,168083,81087,289259,134453,70871,70651,-70306,3027195,273734,3300930,3404579
30,281793,174935,84981,290590,144901,60049,64466,-76035,3158466,286461,3444927,3490715
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,256645,167230,82432,290590,145270,51247,64979,-65874,3400295,288300,3688595,3609866

In [28]:
# Combine the two DataFrames
combined_df = pd.concat([df_table4, df_table5], axis=1)

# Display the combined DataFrame
combined_df

,Year,Quar- ter,Agriculture,Mining and quarrying,Manufac- turing,Electricity and water supply,Construc- tion,Wholesale and retail trade,Accomm odation & Food\nServices,Transport and storage,...,"Professio nal, admin and support services",Real estate,Educatio n,Health,Other services,FISIM,All indust. at basic prices,Taxes on products,GDP at market prices,"GDP,\nseasonally adjusted"
1,2018,NaN,1897475,68909,785369,217169,545654,762968,100019,1056264,...,261461,881622,399515,188778,225790,-215414,8531502,808805,9340307,NaN
2,2019,NaN,2135709,72769,809253,220628,630653,837918,119581,1202830,...,284757,946732,431876,197969,240867,-226631,9371397,866330,10237727,NaN
3,2020,NaN,2432613,76402,814328,223570,750153,867574,77843,1156921,...,252237,996203,413090,212966,216385,-218639,9862147,852923,10715070,NaN
4,2021,NaN,2583190,92045,885633,235982,849377,952902,133678,1391614,...,284916,1076597,521945,238544,242577,-244592,11031456,996206,12027662,NaN
5,2022,NaN,2829505,120300,1046289,239982,953773,1042106,147342,1768220,...,318531,1149057,542704,244335,263120,-264781,12400090,1082913,13483003,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2018,1,490237,18903,199902,53780,128305,189364,24266,249125,...,60357,212776,101752,42764,54548,-53058,2091678,193552,2285230,2262853
8,NaN,2,553221,17210,189065,55318,130708,186473,23254,260081,...,65292,218249,101607,46240,54978,-51893,2182434,199461,2381895,2316982
9,NaN,3,447489,15751,189071,53864,141169,194297,24069,274585,...,66800,223142,99962,47842,57589,-53278,2123734,200580,2324314,2361766
10,NaN,4,406528,17045,207331,54207,145472,192834,28431,272473,...,69013,227454,96194,51931,58675,-57185,2133656,215212,2348868,2403465
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2019,1,543176,18402,207415,54487,152755,202261,28733,294080,...,65835,231811,95684,45109,59909,-54015,2286245,196866,2483110,2453826
13,NaN,2,589054,18048,200283,55866,155731,202674,25842,311451,...,71216,235397,97226,48600,59834,-53135,2377975,218351,2596326,2526682
14,NaN,3,515988,16637,195306,57061,165404,213780,27734,306673,...,71413,238476,110441,49953,61233,-56051,2347655,215061,2562716,2612888
15,NaN,4,487491,19682,206250,53214,156764,219202,37271,290626,...,76293,241047,128524,54306,59891,-63430,2359523,236052,2595574,2649996
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2020,1,672188,19864,209401,54814,178341,211630,32165,290038,...,68970,243543,118079,46334,60215,-51415,2524048,224990,2749038,2709693
18,NaN,2,679888,20033,196652,52575,181003,209179,14506,261909,...,53914,246671,84979,54217,48561,-51267,2433527,185519,2619046,2552181
19,NaN,3,494552,17004,189196,57096,191261,206014,12582,297855,...,59724,250615,95713,54370,55714,-53221,2330061,206861,2536922,2598165
20,NaN,4,585985,19501,219078,59085,199548,240751,18590,307118,...,69629,255374,114319,58044,51895,-62737,2574511,235553,2810064,2859337
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2021,1,668391,21178,219496,57910,197445,240068,26074,318296,...,64259,260947,136439,50688,56031,-55874,2672533,242256,2914789,2865041
23,NaN,2,700208,21809,212215,55755,210061,225959,25560,339777,...,69188,266457,120529,63779,61803,-56740,2756561,237746,2994307,2923405
24,NaN,3,564786,20629,214751,60600,218233,226908,35185,373092,...,72739,271904,129397,59193,64772,-60003,2699722,243109,2942831,3025630
25,NaN,4,649805,28428,239172,61717,223638,259967,46859,360448,...,78730,277288,135580,64884,59971,-71975,2902640,273095,3175735,3223069
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2022,1,754191,31617,251520,57555,243353,274206,34383,407764,...,74802,282609,141417,51693,61941,-61273,3074937,252041,3326978,3261862
28,NaN,2,783036,32491,260668,56660,226026,251583,33289,443468,...,77661,286599,121933,61723,66062,-57167,3139491,270678,3410169,3333189
29,NaN,3,595765,24323,253192,60569,245657,254145,34756,489191,...,81087,289259,134453,70871,70651,-70306,3027195,273734,3300930,3404579
30,NaN,4,696513,31870,280909,65199,238738,262171,44914,427797,...,84981,290590,144901,60049,64466,-76035,3158466,286461,3444927,3490715
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,2023,1,889860,34724,281937,61753,246682,306684,40021,462460,...,82432,290590,145270,51247,64979,-65874,3400295,288300,3688595,3609866

In [33]:
# Separate the yearly and quarterly data
yearly_data = combined_df.head(5)


# Display the separate DataFrames
print("Yearly Data:")
print(yearly_data)

Yearly Data:
0  Year Quar- ter Agriculture Mining and quarrying Manufac- turing  \
1  2018       NaN     1897475                68909          785369
2  2019       NaN     2135709                72769          809253
3  2020       NaN     2432613                76402          814328
4  2021       NaN     2583190                92045          885633
5  2022       NaN     2829505               120300         1046289

0 Electricity and water supply Construc- tion Wholesale and retail trade  \
1                       217169         545654                     762968
2                       220628         630653                     837918
3                       223570         750153                     867574
4                       235982         849377                     952902
5                       239982         953773                    1042106

0 Accomm odation & Food\nServices Transport and storage  ...  \
1                          100019               1056264  ...
2                          119581               1202830  ...
3                           77843               1156921  ...
4                          133678               1391614  ...
5                          147342               1768220  ...

0 Professio nal, admin and support services Real estate Educatio n  Health  \
1                                    261461      881622     399515  188778
2                                    284757      946732     431876  197969
3                                    252237      996203     413090  212966
4                                    284916     1076597     521945  238544
5                                    318531     1149057     542704  244335

0 Other services    FISIM All indust. at basic prices Taxes on products  \
1         225790  -215414                     8531502            808805
2         240867  -226631                     9371397            866330
3         216385  -218639                     9862147            852923
4         242577  -244592                    11031456            996206
5         263120  -264781                    12400090           1082913

0 GDP at market prices GDP,\nseasonally adjusted
1              9340307                       NaN
2             10237727                       NaN
3             10715070                       NaN
4             12027662                       NaN
5             13483003                       NaN

[5 rows x 23 columns]

We will first proceed to clean the yearly data and output to an excel file

In [34]:
# Print the column titles (headers) of the combined DataFrame
print(combined_df.columns)

Index(['Year', 'Quar- ter', 'Agriculture', 'Mining and quarrying',
       'Manufac- turing', 'Electricity and water supply', 'Construc- tion',
       'Wholesale and retail trade', 'Accomm odation & Food\nServices',
       'Transport and storage', 'Informatio n and communi\ncation',
       'Financial & insurance', 'Public admi- nistration',
       'Professio nal, admin and support services', 'Real estate',
       'Educatio n', 'Health', 'Other services', 'FISIM',
       'All indust. at basic prices', 'Taxes on products',
       'GDP at market prices', 'GDP,\nseasonally adjusted'],
      dtype='object', name=0)

In [35]:
# Rename specific columns
combined_df.rename(columns={"Quar- ter": "Quarter", "Manufac- turing": 
                            "Manufacturing","Construc- tion":"Construction",
                            "Accomm odation & Food\nServices": "Accomodation, Food and Services",
                            "Informatio n and communi\ncation":"Information and Communication",
                            "Public admi- nistration":"Public Adminsitration",
                            "Professio nal, admin and support services":"Professional,Admin and Support Services",
                            "Educatio n":"Education"}, inplace=True)

# Print the updated column titles
print(combined_df.columns)

Index(['Year', 'Quarter', 'Agriculture', 'Mining and quarrying',
       'Manufacturing', 'Electricity and water supply', 'Construction',
       'Wholesale and retail trade', 'Accomodation, Food and Services',
       'Transport and storage', 'Information and Communication',
       'Financial & insurance', 'Public Adminsitration',
       'Professional,Admin and Support Services', 'Real estate', 'Education',
       'Health', 'Other services', 'FISIM', 'All indust. at basic prices',
       'Taxes on products', 'GDP at market prices',
       'GDP,\nseasonally adjusted'],
      dtype='object', name=0)

For purposes of this analysis, the "All industires at basic prices" "GDP at market Prices" & "GDP,\nseasonally adjusted" and "Quarter" will be dropped.

In [ ]:
#Dropping the mentinoed columns
columns_to_drop =["Quarter"]
combined_df.drop(columns=columns_to_drop, inplace=True)

#Print the updated column titles
print(combined_df)

In [43]:
print(combined_df)

0   Year Agriculture Mining and quarrying Manufacturing  \
1   2018     1897475                68909        785369
2   2019     2135709                72769        809253
3   2020     2432613                76402        814328
4   2021     2583190                92045        885633
5   2022     2829505               120300       1046289
6    NaN         NaN                  NaN           NaN
7   2018      490237                18903        199902
8    NaN      553221                17210        189065
9    NaN      447489                15751        189071
10   NaN      406528                17045        207331
11   NaN         NaN                  NaN           NaN
12  2019      543176                18402        207415
13   NaN      589054                18048        200283
14   NaN      515988                16637        195306
15   NaN      487491                19682        206250
16   NaN         NaN                  NaN           NaN
17  2020      672188                19864        209401
18   NaN      679888                20033        196652
19   NaN      494552                17004        189196
20   NaN      585985                19501        219078
21   NaN         NaN                  NaN           NaN
22  2021      668391                21178        219496
23   NaN      700208                21809        212215
24   NaN      564786                20629        214751
25   NaN      649805                28428        239172
26   NaN         NaN                  NaN           NaN
27  2022      754191                31617        251520
28   NaN      783036                32491        260668
29   NaN      595765                24323        253192
30   NaN      696513                31870        280909
31   NaN         NaN                  NaN           NaN
32  2023      889860                34724        281937

0  Electricity and water supply Construction Wholesale and retail trade  \
1                        217169       545654                     762968
2                        220628       630653                     837918
3                        223570       750153                     867574
4                        235982       849377                     952902
5                        239982       953773                    1042106
6                           NaN          NaN                        NaN
7                         53780       128305                     189364
8                         55318       130708                     186473
9                         53864       141169                     194297
10                        54207       145472                     192834
11                          NaN          NaN                        NaN
12                        54487       152755                     202261
13                        55866       155731                     202674
14                        57061       165404                     213780
15                        53214       156764                     219202
16                          NaN          NaN                        NaN
17                        54814       178341                     211630
18                        52575       181003                     209179
19                        57096       191261                     206014
20                        59085       199548                     240751
21                          NaN          NaN                        NaN
22                        57910       197445                     240068
23                        55755       210061                     225959
24                        60600       218233                     226908
25                        61717       223638                     259967
26                          NaN          NaN                        NaN
27                        57555       243353                     274206
28                        56660       226026                     251583
29                        60569       245657                     254145
30                        65199       238738                     262171
31                          NaN          NaN                        NaN
32                        61753       246682                     306684

0  Accomodation, Food and Services Transport and storage  \
1                           100019               1056264
2                           119581               1202830
3                            77843               1156921
4                           133678               1391614
5                           147342               1768220
6                              NaN                   NaN
7                            24266                249125
8                            23254                260081
9                            24069                274585
10                           28431                272473
11                             NaN                   NaN
12                           28733                294080
13                           25842                311451
14                           27734                306673
15                           37271                290626
16                             NaN                   NaN
17                           32165                290038
18                           14506                261909
19                           12582                297855
20                           18590                307118
21                             NaN                   NaN
22                           26074                318296
23                           25560                339777
24                           35185                373092
25                           46859                360448
26                             NaN                   NaN
27                           34383                407764
28                           33289                443468
29                           34756                489191
30                           44914                427797
31                             NaN                   NaN
32                           40021                462460

0  Information and Communication Financial & insurance Public Adminsitration  \
1                         240120                622625                493180
2                         257419                667702                541367
3                         274820                723059                592623
4                         291437                860626                634986
5                         318304               1009433                671869
6                            NaN                   NaN                   NaN
7                          56499                147452                114705
8                          55110                149766                127754
9                          62650                154836                123897
10                         65861                170571                126824
11                           NaN                   NaN                   NaN
12                         61936                153577                125089
13                         58629                160324                140935
14                         67245                170504                135858
15                         69609                183296                139485
16                           NaN                   NaN                   NaN
17                         67291                168877                133714
18                         61780                168060                150864
19                         70942                179792                150851
20                         74808                206329                157195
21                           NaN                   NaN                   NaN
22                         70597                195419                145171
23                         69787                205898                164514
24                         72148                215178                160209
25                         78905                244131                165092
26                           NaN                   NaN                   NaN
27                         76673                236707                155781
28                         76736                245652                173070
29                         80218                245281                168083
30                         84677                281793                174935
31                           NaN                   NaN                   NaN
32                         83653                256645                167230

0  Professional,Admin and Support Services Real estate Education  Health  \
1                                   261461      881622    399515  188778
2                                   284757      946732    431876  197969
3                                   252237      996203    413090  212966
4                                   284916     1076597    521945  238544
5                                   318531     1149057    542704  244335
6                                      NaN         NaN       NaN     NaN
7                                    60357      212776    101752   42764
8                                    65292      218249    101607   46240
9                                    66800      223142     99962   47842
10                                   69013      227454     96194   51931
11                                     NaN         NaN       NaN     NaN
12                                   65835      231811     95684   45109
13                                   71216      235397     97226   48600
14                                   71413      238476    110441   49953
15                                   76293      241047    128524   54306
16                                     NaN         NaN       NaN     NaN
17                                   68970      243543    118079   46334
18                                   53914      246671     84979   54217
19                                   59724      250615     95713   54370
20                                   69629      255374    114319   58044
21                                     NaN         NaN       NaN     NaN
22                                   64259      260947    136439   50688
23                                   69188      266457    120529   63779
24                                   72739      271904    129397   59193
25                                   78730      277288    135580   64884
26                                     NaN         NaN       NaN     NaN
27                                   74802      282609    141417   51693
28                                   77661      286599    121933   61723
29                                   81087      289259    134453   70871
30                                   84981      290590    144901   60049
31                                     NaN         NaN       NaN     NaN
32                                   82432      290590    145270   51247

0  Other services    FISIM Taxes on products
1          225790  -215414            808805
2          240867  -226631            866330
3          216385  -218639            852923
4          242577  -244592            996206
5          263120  -264781           1082913
6             NaN      NaN               NaN
7           54548   -53058            193552
8           54978   -51893            199461
9           57589   -53278            200580
10          58675   -57185            215212
11            NaN      NaN               NaN
12          59909   -54015            196866
13          59834   -53135            218351
14          61233   -56051            215061
15          59891   -63430            236052
16            NaN      NaN               NaN
17          60215   -51415            224990
18          48561   -51267            185519
19          55714   -53221            206861
20          51895   -62737            235553
21            NaN      NaN               NaN
22          56031   -55874            242256
23          61803   -56740            237746
24          64772   -60003            243109
25          59971   -71975            273095
26            NaN      NaN               NaN
27          61941   -61273            252041
28          66062   -57167            270678
29          70651   -70306            273734
30          64466   -76035            286461
31            NaN      NaN               NaN
32          64979   -65874            288300

In [47]:
combined_df.head(20)

,Year,Agriculture,Mining and quarrying,Manufacturing,Electricity and water supply,Construction,Wholesale and retail trade,"Accomodation, Food and Services",Transport and storage,Information and Communication,Financial & insurance,Public Adminsitration,"Professional,Admin and Support Services",Real estate,Education,Health,Other services,FISIM,Taxes on products
1,2018,1897475,68909,785369,217169,545654,762968,100019,1056264,240120,622625,493180,261461,881622,399515,188778,225790,-215414,808805
2,2019,2135709,72769,809253,220628,630653,837918,119581,1202830,257419,667702,541367,284757,946732,431876,197969,240867,-226631,866330
3,2020,2432613,76402,814328,223570,750153,867574,77843,1156921,274820,723059,592623,252237,996203,413090,212966,216385,-218639,852923
4,2021,2583190,92045,885633,235982,849377,952902,133678,1391614,291437,860626,634986,284916,1076597,521945,238544,242577,-244592,996206
5,2022,2829505,120300,1046289,239982,953773,1042106,147342,1768220,318304,1009433,671869,318531,1149057,542704,244335,263120,-264781,1082913
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2018,490237,18903,199902,53780,128305,189364,24266,249125,56499,147452,114705,60357,212776,101752,42764,54548,-53058,193552
8,NaN,553221,17210,189065,55318,130708,186473,23254,260081,55110,149766,127754,65292,218249,101607,46240,54978,-51893,199461
9,NaN,447489,15751,189071,53864,141169,194297,24069,274585,62650,154836,123897,66800,223142,99962,47842,57589,-53278,200580
10,NaN,406528,17045,207331,54207,145472,192834,28431,272473,65861,170571,126824,69013,227454,96194,51931,58675,-57185,215212
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2019,543176,18402,207415,54487,152755,202261,28733,294080,61936,153577,125089,65835,231811,95684,45109,59909,-54015,196866
13,NaN,589054,18048,200283,55866,155731,202674,25842,311451,58629,160324,140935,71216,235397,97226,48600,59834,-53135,218351
14,NaN,515988,16637,195306,57061,165404,213780,27734,306673,67245,170504,135858,71413,238476,110441,49953,61233,-56051,215061
15,NaN,487491,19682,206250,53214,156764,219202,37271,290626,69609,183296,139485,76293,241047,128524,54306,59891,-63430,236052
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2020,672188,19864,209401,54814,178341,211630,32165,290038,67291,168877,133714,68970,243543,118079,46334,60215,-51415,224990
18,NaN,679888,20033,196652,52575,181003,209179,14506,261909,61780,168060,150864,53914,246671,84979,54217,48561,-51267,185519
19,NaN,494552,17004,189196,57096,191261,206014,12582,297855,70942,179792,150851,59724,250615,95713,54370,55714,-53221,206861
20,NaN,585985,19501,219078,59085,199548,240751,18590,307118,74808,206329,157195,69629,255374,114319,58044,51895,-62737,235553

In [49]:
# taking the yearly data i.e., first five columns and loading it into a data frame.

yearly_values_df = combined_df.head(5)
print(yearly_values_df)
# Define the path to the CSV file
csv_file_path = "KenyaGDP_yearly_values_2018-2023.csv"

# Save the extracted DataFrame to a CSV file
yearly_values_df.to_csv(csv_file_path, index=False)

0  Year Agriculture Mining and quarrying Manufacturing  \
1  2018     1897475                68909        785369
2  2019     2135709                72769        809253
3  2020     2432613                76402        814328
4  2021     2583190                92045        885633
5  2022     2829505               120300       1046289

0 Electricity and water supply Construction Wholesale and retail trade  \
1                       217169       545654                     762968
2                       220628       630653                     837918
3                       223570       750153                     867574
4                       235982       849377                     952902
5                       239982       953773                    1042106

0 Accomodation, Food and Services Transport and storage  \
1                          100019               1056264
2                          119581               1202830
3                           77843               1156921
4                          133678               1391614
5                          147342               1768220

0 Information and Communication Financial & insurance Public Adminsitration  \
1                        240120                622625                493180
2                        257419                667702                541367
3                        274820                723059                592623
4                        291437                860626                634986
5                        318304               1009433                671869

0 Professional,Admin and Support Services Real estate Education  Health  \
1                                  261461      881622    399515  188778
2                                  284757      946732    431876  197969
3                                  252237      996203    413090  212966
4                                  284916     1076597    521945  238544
5                                  318531     1149057    542704  244335

0 Other services    FISIM Taxes on products
1         225790  -215414            808805
2         240867  -226631            866330
3         216385  -218639            852923
4         242577  -244592            996206
5         263120  -264781           1082913

4. Preparing Quarterly Data

In [50]:
# Extract the remaining rows (excluding the first 5 rows)
quarterly_data = combined_df.iloc[5:]

# Display the first few rows of the quarterly_data DataFrame
print(quarterly_data.head())

0   Year Agriculture Mining and quarrying Manufacturing  \
6    NaN         NaN                  NaN           NaN
7   2018      490237                18903        199902
8    NaN      553221                17210        189065
9    NaN      447489                15751        189071
10   NaN      406528                17045        207331

0  Electricity and water supply Construction Wholesale and retail trade  \
6                           NaN          NaN                        NaN
7                         53780       128305                     189364
8                         55318       130708                     186473
9                         53864       141169                     194297
10                        54207       145472                     192834

0  Accomodation, Food and Services Transport and storage  \
6                              NaN                   NaN
7                            24266                249125
8                            23254                260081
9                            24069                274585
10                           28431                272473

0  Information and Communication Financial & insurance Public Adminsitration  \
6                            NaN                   NaN                   NaN
7                          56499                147452                114705
8                          55110                149766                127754
9                          62650                154836                123897
10                         65861                170571                126824

0  Professional,Admin and Support Services Real estate Education Health  \
6                                      NaN         NaN       NaN    NaN
7                                    60357      212776    101752  42764
8                                    65292      218249    101607  46240
9                                    66800      223142     99962  47842
10                                   69013      227454     96194  51931

0  Other services   FISIM Taxes on products
6             NaN     NaN               NaN
7           54548  -53058            193552
8           54978  -51893            199461
9           57589  -53278            200580
10          58675  -57185            215212

In [55]:
# Drop rows where all values are NaN
quarterly_data_2 = quarterly_data.dropna(how='all')

# Display the updated DataFrame
print(quarterly_data_2)

0   Year Agriculture Mining and quarrying Manufacturing  \
7   2018      490237                18903        199902
8    NaN      553221                17210        189065
9    NaN      447489                15751        189071
10   NaN      406528                17045        207331
12  2019      543176                18402        207415
13   NaN      589054                18048        200283
14   NaN      515988                16637        195306
15   NaN      487491                19682        206250
17  2020      672188                19864        209401
18   NaN      679888                20033        196652
19   NaN      494552                17004        189196
20   NaN      585985                19501        219078
22  2021      668391                21178        219496
23   NaN      700208                21809        212215
24   NaN      564786                20629        214751
25   NaN      649805                28428        239172
27  2022      754191                31617        251520
28   NaN      783036                32491        260668
29   NaN      595765                24323        253192
30   NaN      696513                31870        280909
32  2023      889860                34724        281937

0  Electricity and water supply Construction Wholesale and retail trade  \
7                         53780       128305                     189364
8                         55318       130708                     186473
9                         53864       141169                     194297
10                        54207       145472                     192834
12                        54487       152755                     202261
13                        55866       155731                     202674
14                        57061       165404                     213780
15                        53214       156764                     219202
17                        54814       178341                     211630
18                        52575       181003                     209179
19                        57096       191261                     206014
20                        59085       199548                     240751
22                        57910       197445                     240068
23                        55755       210061                     225959
24                        60600       218233                     226908
25                        61717       223638                     259967
27                        57555       243353                     274206
28                        56660       226026                     251583
29                        60569       245657                     254145
30                        65199       238738                     262171
32                        61753       246682                     306684

0  Accomodation, Food and Services Transport and storage  \
7                            24266                249125
8                            23254                260081
9                            24069                274585
10                           28431                272473
12                           28733                294080
13                           25842                311451
14                           27734                306673
15                           37271                290626
17                           32165                290038
18                           14506                261909
19                           12582                297855
20                           18590                307118
22                           26074                318296
23                           25560                339777
24                           35185                373092
25                           46859                360448
27                           34383                407764
28                           33289                443468
29                           34756                489191
30                           44914                427797
32                           40021                462460

0  Information and Communication Financial & insurance Public Adminsitration  \
7                          56499                147452                114705
8                          55110                149766                127754
9                          62650                154836                123897
10                         65861                170571                126824
12                         61936                153577                125089
13                         58629                160324                140935
14                         67245                170504                135858
15                         69609                183296                139485
17                         67291                168877                133714
18                         61780                168060                150864
19                         70942                179792                150851
20                         74808                206329                157195
22                         70597                195419                145171
23                         69787                205898                164514
24                         72148                215178                160209
25                         78905                244131                165092
27                         76673                236707                155781
28                         76736                245652                173070
29                         80218                245281                168083
30                         84677                281793                174935
32                         83653                256645                167230

0  Professional,Admin and Support Services Real estate Education Health  \
7                                    60357      212776    101752  42764
8                                    65292      218249    101607  46240
9                                    66800      223142     99962  47842
10                                   69013      227454     96194  51931
12                                   65835      231811     95684  45109
13                                   71216      235397     97226  48600
14                                   71413      238476    110441  49953
15                                   76293      241047    128524  54306
17                                   68970      243543    118079  46334
18                                   53914      246671     84979  54217
19                                   59724      250615     95713  54370
20                                   69629      255374    114319  58044
22                                   64259      260947    136439  50688
23                                   69188      266457    120529  63779
24                                   72739      271904    129397  59193
25                                   78730      277288    135580  64884
27                                   74802      282609    141417  51693
28                                   77661      286599    121933  61723
29                                   81087      289259    134453  70871
30                                   84981      290590    144901  60049
32                                   82432      290590    145270  51247

0  Other services   FISIM Taxes on products
7           54548  -53058            193552
8           54978  -51893            199461
9           57589  -53278            200580
10          58675  -57185            215212
12          59909  -54015            196866
13          59834  -53135            218351
14          61233  -56051            215061
15          59891  -63430            236052
17          60215  -51415            224990
18          48561  -51267            185519
19          55714  -53221            206861
20          51895  -62737            235553
22          56031  -55874            242256
23          61803  -56740            237746
24          64772  -60003            243109
25          59971  -71975            273095
27          61941  -61273            252041
28          66062  -57167            270678
29          70651  -70306            273734
30          64466  -76035            286461
32          64979  -65874            288300

In [65]:
import pandas as pd

# Assuming you already have the quarterly_data_2 DataFrame
# Create a new column "Filled_Year" to store the calculated years
quarterly_data_2["Filled_Year"] = None  # Initialize the new column

quarters_per_year = 4
current_year = 2018
quarter_counter = 1

for index, row in quarterly_data_2.iterrows():
    quarterly_data_2.at[index, "Filled_Year"] = current_year
    quarterly_data_2.at[index, "Quarters"] = quarter_counter
    
    quarter_counter += 1
    if quarter_counter > quarters_per_year:
        quarter_counter = 1
        current_year += 1

# Display the updated DataFrame
quarterly_data_2

C:\Users\PC\AppData\Local\Temp\ipykernel_12328\1509332246.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  quarterly_data_2["Filled_Year"] = None  # Initialize the new column

,Year,Agriculture,Mining and quarrying,Manufacturing,Electricity and water supply,Construction,Wholesale and retail trade,"Accomodation, Food and Services",Transport and storage,Information and Communication,...,Public Adminsitration,"Professional,Admin and Support Services",Real estate,Education,Health,Other services,FISIM,Taxes on products,Filled_Year,Quarters
7,2018,490237,18903,199902,53780,128305,189364,24266,249125,56499,...,114705,60357,212776,101752,42764,54548,-53058,193552,2018,1.0
8,NaN,553221,17210,189065,55318,130708,186473,23254,260081,55110,...,127754,65292,218249,101607,46240,54978,-51893,199461,2018,2.0
9,NaN,447489,15751,189071,53864,141169,194297,24069,274585,62650,...,123897,66800,223142,99962,47842,57589,-53278,200580,2018,3.0
10,NaN,406528,17045,207331,54207,145472,192834,28431,272473,65861,...,126824,69013,227454,96194,51931,58675,-57185,215212,2018,4.0
12,2019,543176,18402,207415,54487,152755,202261,28733,294080,61936,...,125089,65835,231811,95684,45109,59909,-54015,196866,2019,1.0
13,NaN,589054,18048,200283,55866,155731,202674,25842,311451,58629,...,140935,71216,235397,97226,48600,59834,-53135,218351,2019,2.0
14,NaN,515988,16637,195306,57061,165404,213780,27734,306673,67245,...,135858,71413,238476,110441,49953,61233,-56051,215061,2019,3.0
15,NaN,487491,19682,206250,53214,156764,219202,37271,290626,69609,...,139485,76293,241047,128524,54306,59891,-63430,236052,2019,4.0
17,2020,672188,19864,209401,54814,178341,211630,32165,290038,67291,...,133714,68970,243543,118079,46334,60215,-51415,224990,2020,1.0
18,NaN,679888,20033,196652,52575,181003,209179,14506,261909,61780,...,150864,53914,246671,84979,54217,48561,-51267,185519,2020,2.0
19,NaN,494552,17004,189196,57096,191261,206014,12582,297855,70942,...,150851,59724,250615,95713,54370,55714,-53221,206861,2020,3.0
20,NaN,585985,19501,219078,59085,199548,240751,18590,307118,74808,...,157195,69629,255374,114319,58044,51895,-62737,235553,2020,4.0
22,2021,668391,21178,219496,57910,197445,240068,26074,318296,70597,...,145171,64259,260947,136439,50688,56031,-55874,242256,2021,1.0
23,NaN,700208,21809,212215,55755,210061,225959,25560,339777,69787,...,164514,69188,266457,120529,63779,61803,-56740,237746,2021,2.0
24,NaN,564786,20629,214751,60600,218233,226908,35185,373092,72148,...,160209,72739,271904,129397,59193,64772,-60003,243109,2021,3.0
25,NaN,649805,28428,239172,61717,223638,259967,46859,360448,78905,...,165092,78730,277288,135580,64884,59971,-71975,273095,2021,4.0
27,2022,754191,31617,251520,57555,243353,274206,34383,407764,76673,...,155781,74802,282609,141417,51693,61941,-61273,252041,2022,1.0
28,NaN,783036,32491,260668,56660,226026,251583,33289,443468,76736,...,173070,77661,286599,121933,61723,66062,-57167,270678,2022,2.0
29,NaN,595765,24323,253192,60569,245657,254145,34756,489191,80218,...,168083,81087,289259,134453,70871,70651,-70306,273734,2022,3.0
30,NaN,696513,31870,280909,65199,238738,262171,44914,427797,84677,...,174935,84981,290590,144901,60049,64466,-76035,286461,2022,4.0
32,2023,889860,34724,281937,61753,246682,306684,40021,462460,83653,...,167230,82432,290590,145270,51247,64979,-65874,288300,2023,1.0

In [67]:
#Dropping 'year' column

quarterly_data_2.drop(columns="Year", inplace=True)

quarterly_data_2

C:\Users\PC\AppData\Local\Temp\ipykernel_12328\1723349956.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  quarterly_data_2.drop(columns="Year", inplace=True)

,Agriculture,Mining and quarrying,Manufacturing,Electricity and water supply,Construction,Wholesale and retail trade,"Accomodation, Food and Services",Transport and storage,Information and Communication,Financial & insurance,Public Adminsitration,"Professional,Admin and Support Services",Real estate,Education,Health,Other services,FISIM,Taxes on products,Filled_Year,Quarters
7,490237,18903,199902,53780,128305,189364,24266,249125,56499,147452,114705,60357,212776,101752,42764,54548,-53058,193552,2018,1.0
8,553221,17210,189065,55318,130708,186473,23254,260081,55110,149766,127754,65292,218249,101607,46240,54978,-51893,199461,2018,2.0
9,447489,15751,189071,53864,141169,194297,24069,274585,62650,154836,123897,66800,223142,99962,47842,57589,-53278,200580,2018,3.0
10,406528,17045,207331,54207,145472,192834,28431,272473,65861,170571,126824,69013,227454,96194,51931,58675,-57185,215212,2018,4.0
12,543176,18402,207415,54487,152755,202261,28733,294080,61936,153577,125089,65835,231811,95684,45109,59909,-54015,196866,2019,1.0
13,589054,18048,200283,55866,155731,202674,25842,311451,58629,160324,140935,71216,235397,97226,48600,59834,-53135,218351,2019,2.0
14,515988,16637,195306,57061,165404,213780,27734,306673,67245,170504,135858,71413,238476,110441,49953,61233,-56051,215061,2019,3.0
15,487491,19682,206250,53214,156764,219202,37271,290626,69609,183296,139485,76293,241047,128524,54306,59891,-63430,236052,2019,4.0
17,672188,19864,209401,54814,178341,211630,32165,290038,67291,168877,133714,68970,243543,118079,46334,60215,-51415,224990,2020,1.0
18,679888,20033,196652,52575,181003,209179,14506,261909,61780,168060,150864,53914,246671,84979,54217,48561,-51267,185519,2020,2.0
19,494552,17004,189196,57096,191261,206014,12582,297855,70942,179792,150851,59724,250615,95713,54370,55714,-53221,206861,2020,3.0
20,585985,19501,219078,59085,199548,240751,18590,307118,74808,206329,157195,69629,255374,114319,58044,51895,-62737,235553,2020,4.0
22,668391,21178,219496,57910,197445,240068,26074,318296,70597,195419,145171,64259,260947,136439,50688,56031,-55874,242256,2021,1.0
23,700208,21809,212215,55755,210061,225959,25560,339777,69787,205898,164514,69188,266457,120529,63779,61803,-56740,237746,2021,2.0
24,564786,20629,214751,60600,218233,226908,35185,373092,72148,215178,160209,72739,271904,129397,59193,64772,-60003,243109,2021,3.0
25,649805,28428,239172,61717,223638,259967,46859,360448,78905,244131,165092,78730,277288,135580,64884,59971,-71975,273095,2021,4.0
27,754191,31617,251520,57555,243353,274206,34383,407764,76673,236707,155781,74802,282609,141417,51693,61941,-61273,252041,2022,1.0
28,783036,32491,260668,56660,226026,251583,33289,443468,76736,245652,173070,77661,286599,121933,61723,66062,-57167,270678,2022,2.0
29,595765,24323,253192,60569,245657,254145,34756,489191,80218,245281,168083,81087,289259,134453,70871,70651,-70306,273734,2022,3.0
30,696513,31870,280909,65199,238738,262171,44914,427797,84677,281793,174935,84981,290590,144901,60049,64466,-76035,286461,2022,4.0
32,889860,34724,281937,61753,246682,306684,40021,462460,83653,256645,167230,82432,290590,145270,51247,64979,-65874,288300,2023,1.0

In [69]:
#Define File Path
csv_file_path = "KenyaGDP_quarterly_values_2018-2023.csv"


# Save the extracted DataFrame to a CSV file
quarterly_data_2.to_csv(csv_file_path, index=False)