1.Data Source

The data set has been retrieved from the Kenya National Bureau of Statistics' official website. https://www.knbs.or.ke/data-releases/ ; the specific document being the the recent Quarter 1, 2023 GDP report. The analysis will delve into the reasons why this particular document/source was chosen.

In [29]:
import pandas as pd
import openpyxl

The source data is in PDF format. The conversion to excel was done using https://www.ilovepdf.com/pdf_to_excel . After conversion, we need to load the tables into data frames

In [30]:
# Load data from Table 4 worksheet
df_table6 = pd.read_excel('First-Quarter-2023-GDP-Report (1).xlsx', sheet_name='Table 6')

# Load data from Table 6 worksheet
df_table7 = pd.read_excel('First-Quarter-2023-GDP-Report (1).xlsx', sheet_name='Table 7')

In [31]:
df_table6.head(20)

,"Table 2: Gross Domestic Product by Activity, Constant (2016) Prices (KSh Million)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,Year,Quar- ter,Agriculture,Mining and quarrying,Manufac- turing,Electricity & water supply,Construc- tion,Wholesale and retail trade,Accommo dation & restaurant,Transport and storage,Information and communic\nation
1,2018,NaN,1587784,79986,738305,214422,438962,694215,88863,849165,241178
2,2019,NaN,1630607,83386,757794,218146,470526,730922,101584,902898,257959
3,2020,NaN,1705985,87968,755608,219518,517977,727727,53114,830249,273440
4,2021,NaN,1699959,103842,810827,231759,552764,786202,81037,891983,290224
5,2022,NaN,1672085,113458,833052,243151,575215,815937,102286,941947,319056
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2018,1,423098,21870,187632,52487,108357,170690,21935,206945,57093
8,NaN,2,445341,20268,180342,53065,108842,163064,21264,208400,54870
9,NaN,3,366861,18196,179287,54353,112286,176077,21126,218992,63589
10,NaN,4,352484,19653,191045,54517,109477,184383,24537,214827,65627
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2019,1,443440,21596,192686,54066,114925,178426,25339,221046,62132
13,NaN,2,459892,21679,188246,53858,116807,173385,23724,226661,58621
14,NaN,3,370177,19192,184179,55181,121192,185461,23642,229166,67725
15,NaN,4,357099,20920,192683,55041,117601,193649,28878,226025,69481
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2020,1,464519,23013,195926,54832,126576,187841,22437,225269,67393
18,NaN,2,497268,22538,178601,51429,124923,166594,9511,188177,61718
19,NaN,3,353815,20270,180404,55650,133533,176144,8520,205374,70812

In [32]:
df_table7.head(20)

,"Table 2 Gross Product by Activity, Constant (2016) Prices (KSh Million) Cont’d:",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,Year,Quarter,Financial & insurance,Public admi- nistration,"Professional,\nadmin and support services",Real estate,Education,Health,Other services,FISIM,All indust. at basic prices,Taxes on products,GDP at market prices,"GDP,\nseasonally adjusted"
1,2018,NaN,629731,459667,247144,802728,392401,176043,197479,-254198,7583875,747016,8330891,NaN
2,2019,NaN,680556,498143,263996,856588,414661,185702,205954,-278418,7981005,775941,8756946,NaN
3,2020,NaN,720435,532781,227920,891574,376307,196120,175831,-273375,8019178,713883,8733060,NaN
4,2021,NaN,802964,564957,244148,951093,462227,213529,197731,-287975,8597270,798672,9395942,NaN
5,2022,NaN,905490,590386,267097,993623,484217,223105,208959,-292296,8996768,854561,9851329,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2018,1,146213,107773,57885,195701,98630,40005,48578,-60428,1884463,182979,2067442,2048678
8,NaN,2,148476,119262,61509,198924,97374,43643,48166,-59982,1912828,188946,2101774,2066830
9,NaN,3,157455,115123,62920,202293,98095,44520,50019,-63847,1877346,183190,2060536,2093533
10,NaN,4,177587,117509,64829,205810,98303,47874,50716,-69941,1909238,191901,2101139,2123801
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2019,1,156897,115767,61765,209991,102178,42073,51741,-66603,1987463,180013,2167476,2145145
13,NaN,2,162603,130083,66473,213239,100591,45961,51448,-64533,2028738,198753,2227491,2189115
14,NaN,3,174236,124860,66033,215771,104633,47145,52282,-68744,1972132,191300,2163432,2207067
15,NaN,4,186820,127433,69725,217588,107259,50523,50483,-78537,1992671,205876,2198547,2216841
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2020,1,166990,121110,63263,218984,107896,44880,49844,-63971,2076801,190042,2266843,2239603
18,NaN,2,168441,135802,49390,221057,79015,49864,39177,-64258,1979245,157609,2136855,2100512
19,NaN,3,179678,135233,53919,223930,87327,49131,45028,-67223,1911545,175032,2086577,2139685

From the outputs, its evident that the rows 1-4 contains the yearly values while the the rest of the rows are the quarterly values. For the purpose of this analysis, the records will be combined into separated into quarterly and yearly averages.

In [33]:
# Set the first row as column headers
df_table6.columns = df_table6.iloc[0]
df_table7.columns = df_table7.iloc[0]

# Drop the duplicated row (used as headers) from both DataFrames
df_table6 = df_table6[1:]
df_table7 = df_table7[1:]

In [34]:
# Remove leading and trailing spaces from column names in both DataFrames
df_table6.columns = df_table6.columns.str.strip()
df_table7.columns = df_table7.columns.str.strip()

In [35]:
df_table7

,Year,Quarter,Financial & insurance,Public admi- nistration,"Professional,\nadmin and support services",Real estate,Education,Health,Other services,FISIM,All indust. at basic prices,Taxes on products,GDP at market prices,"GDP,\nseasonally adjusted"
1,2018,NaN,629731,459667,247144,802728,392401,176043,197479,-254198,7583875,747016,8330891,NaN
2,2019,NaN,680556,498143,263996,856588,414661,185702,205954,-278418,7981005,775941,8756946,NaN
3,2020,NaN,720435,532781,227920,891574,376307,196120,175831,-273375,8019178,713883,8733060,NaN
4,2021,NaN,802964,564957,244148,951093,462227,213529,197731,-287975,8597270,798672,9395942,NaN
5,2022,NaN,905490,590386,267097,993623,484217,223105,208959,-292296,8996768,854561,9851329,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2018,1,146213,107773,57885,195701,98630,40005,48578,-60428,1884463,182979,2067442,2048678
8,NaN,2,148476,119262,61509,198924,97374,43643,48166,-59982,1912828,188946,2101774,2066830
9,NaN,3,157455,115123,62920,202293,98095,44520,50019,-63847,1877346,183190,2060536,2093533
10,NaN,4,177587,117509,64829,205810,98303,47874,50716,-69941,1909238,191901,2101139,2123801
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2019,1,156897,115767,61765,209991,102178,42073,51741,-66603,1987463,180013,2167476,2145145
13,NaN,2,162603,130083,66473,213239,100591,45961,51448,-64533,2028738,198753,2227491,2189115
14,NaN,3,174236,124860,66033,215771,104633,47145,52282,-68744,1972132,191300,2163432,2207067
15,NaN,4,186820,127433,69725,217588,107259,50523,50483,-78537,1992671,205876,2198547,2216841
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2020,1,166990,121110,63263,218984,107896,44880,49844,-63971,2076801,190042,2266843,2239603
18,NaN,2,168441,135802,49390,221057,79015,49864,39177,-64258,1979245,157609,2136855,2100512
19,NaN,3,179678,135233,53919,223930,87327,49131,45028,-67223,1911545,175032,2086577,2139685
20,NaN,4,205327,140635,61348,227603,102070,52245,41782,-77923,2051586,191200,2242786,2252897
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2021,1,183908,129888,55501,232078,120859,48425,45598,-67755,2125464,194692,2320156,2286865
23,NaN,2,190709,146889,59276,236145,106214,54581,50385,-66591,2169745,187892,2357637,2320407
24,NaN,3,198755,142412,62149,239807,114311,52626,52923,-70602,2084736,196977,2281713,2352675
25,NaN,4,229591,145768,67222,243063,120843,57897,48825,-83026,2217325,219112,2436437,2437345
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2022,1,215148,137991,62786,245912,126404,51189,49676,-68283,2251961,213191,2465152,2423324
28,NaN,2,221399,152466,65744,248050,110851,57003,52572,-67428,2280130,199274,2479404,2443881
29,NaN,3,217741,147322,67748,249474,118775,54550,55929,-72217,2168684,211332,2380016,2466618
30,NaN,4,251202,152607,70818,250187,128188,60363,50781,-84368,2295993,230764,2526757,2518478
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,2023,1,227613,147055,67366,258687,131012,53977,51150,-68698,2374107,222587,2596694,2547019

In [36]:
# Combine the two DataFrames
combined_df = pd.concat([df_table6, df_table7], axis=1)

# Display the combined DataFrame
combined_df

,Year,Quar- ter,Agriculture,Mining and quarrying,Manufac- turing,Electricity & water supply,Construc- tion,Wholesale and retail trade,Accommo dation & restaurant,Transport and storage,...,"Professional,\nadmin and support services",Real estate,Education,Health,Other services,FISIM,All indust. at basic prices,Taxes on products,GDP at market prices,"GDP,\nseasonally adjusted"
1,2018,NaN,1587784,79986,738305,214422,438962,694215,88863,849165,...,247144,802728,392401,176043,197479,-254198,7583875,747016,8330891,NaN
2,2019,NaN,1630607,83386,757794,218146,470526,730922,101584,902898,...,263996,856588,414661,185702,205954,-278418,7981005,775941,8756946,NaN
3,2020,NaN,1705985,87968,755608,219518,517977,727727,53114,830249,...,227920,891574,376307,196120,175831,-273375,8019178,713883,8733060,NaN
4,2021,NaN,1699959,103842,810827,231759,552764,786202,81037,891983,...,244148,951093,462227,213529,197731,-287975,8597270,798672,9395942,NaN
5,2022,NaN,1672085,113458,833052,243151,575215,815937,102286,941947,...,267097,993623,484217,223105,208959,-292296,8996768,854561,9851329,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2018,1,423098,21870,187632,52487,108357,170690,21935,206945,...,57885,195701,98630,40005,48578,-60428,1884463,182979,2067442,2048678
8,NaN,2,445341,20268,180342,53065,108842,163064,21264,208400,...,61509,198924,97374,43643,48166,-59982,1912828,188946,2101774,2066830
9,NaN,3,366861,18196,179287,54353,112286,176077,21126,218992,...,62920,202293,98095,44520,50019,-63847,1877346,183190,2060536,2093533
10,NaN,4,352484,19653,191045,54517,109477,184383,24537,214827,...,64829,205810,98303,47874,50716,-69941,1909238,191901,2101139,2123801
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2019,1,443440,21596,192686,54066,114925,178426,25339,221046,...,61765,209991,102178,42073,51741,-66603,1987463,180013,2167476,2145145
13,NaN,2,459892,21679,188246,53858,116807,173385,23724,226661,...,66473,213239,100591,45961,51448,-64533,2028738,198753,2227491,2189115
14,NaN,3,370177,19192,184179,55181,121192,185461,23642,229166,...,66033,215771,104633,47145,52282,-68744,1972132,191300,2163432,2207067
15,NaN,4,357099,20920,192683,55041,117601,193649,28878,226025,...,69725,217588,107259,50523,50483,-78537,1992671,205876,2198547,2216841
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2020,1,464519,23013,195926,54832,126576,187841,22437,225269,...,63263,218984,107896,44880,49844,-63971,2076801,190042,2266843,2239603
18,NaN,2,497268,22538,178601,51429,124923,166594,9511,188177,...,49390,221057,79015,49864,39177,-64258,1979245,157609,2136855,2100512
19,NaN,3,353815,20270,180404,55650,133533,176144,8520,205374,...,53919,223930,87327,49131,45028,-67223,1911545,175032,2086577,2139685
20,NaN,4,390382,22147,200678,57607,132945,197147,12646,211430,...,61348,227603,102070,52245,41782,-77923,2051586,191200,2242786,2252897
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2021,1,461672,25404,199847,56984,134419,204286,16095,207444,...,55501,232078,120859,48425,45598,-67755,2125464,194692,2320156,2286865
23,NaN,2,488136,24917,198361,55378,133581,183685,16136,222933,...,59276,236145,106214,54581,50385,-66591,2169745,187892,2357637,2320407
24,NaN,3,351517,23512,199422,59626,142532,187788,20880,235278,...,62149,239807,114311,52626,52923,-70602,2084736,196977,2281713,2352675
25,NaN,4,398634,30009,213196,59771,142233,210443,27926,226329,...,67222,243063,120843,57897,48825,-83026,2217325,219112,2436437,2437345
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2022,1,453795,31446,207409,58780,142420,214220,22550,223357,...,62786,245912,126404,51189,49676,-68283,2251961,213191,2465152,2423324
28,NaN,2,476539,29061,205560,58481,139622,191186,23236,239047,...,65744,248050,110851,57003,52572,-67428,2280130,199274,2479404,2443881
29,NaN,3,346863,22450,202991,63179,147524,194499,24410,247170,...,67748,249474,118775,54550,55929,-72217,2168684,211332,2380016,2466618
30,NaN,4,394888,30501,217091,62711,145649,216032,32090,232373,...,70818,250187,128188,60363,50781,-84368,2295993,230764,2526757,2518478
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,2022,1,480143,32494,211492,60123,146784,226403,27403,237199,...,67366,258687,131012,53977,51150,-68698,2374107,222587,2596694,2547019

In [37]:
# Separate the yearly and quarterly data
yearly_data = combined_df.head(5)


# Display the separate DataFrames
print("Yearly Data:")
yearly_data

Yearly Data:

,Year,Quar- ter,Agriculture,Mining and quarrying,Manufac- turing,Electricity & water supply,Construc- tion,Wholesale and retail trade,Accommo dation & restaurant,Transport and storage,...,"Professional,\nadmin and support services",Real estate,Education,Health,Other services,FISIM,All indust. at basic prices,Taxes on products,GDP at market prices,"GDP,\nseasonally adjusted"
1,2018,NaN,1587784,79986,738305,214422,438962,694215,88863,849165,...,247144,802728,392401,176043,197479,-254198,7583875,747016,8330891,NaN
2,2019,NaN,1630607,83386,757794,218146,470526,730922,101584,902898,...,263996,856588,414661,185702,205954,-278418,7981005,775941,8756946,NaN
3,2020,NaN,1705985,87968,755608,219518,517977,727727,53114,830249,...,227920,891574,376307,196120,175831,-273375,8019178,713883,8733060,NaN
4,2021,NaN,1699959,103842,810827,231759,552764,786202,81037,891983,...,244148,951093,462227,213529,197731,-287975,8597270,798672,9395942,NaN
5,2022,NaN,1672085,113458,833052,243151,575215,815937,102286,941947,...,267097,993623,484217,223105,208959,-292296,8996768,854561,9851329,NaN

We will first proceed to clean the yearly data and output to an excel file

In [38]:
# Print the column titles (headers) of the combined DataFrame
combined_df.columns

Index(['Year', 'Quar- ter', 'Agriculture', 'Mining and quarrying',
       'Manufac- turing', 'Electricity & water supply', 'Construc- tion',
       'Wholesale and retail trade', 'Accommo dation & restaurant',
       'Transport and storage', 'Information and communic\nation', 'Year',
       'Quarter', 'Financial & insurance', 'Public admi- nistration',
       'Professional,\nadmin and support services', 'Real estate', 'Education',
       'Health', 'Other services', 'FISIM', 'All indust. at basic prices',
       'Taxes on products', 'GDP at market prices',
       'GDP,\nseasonally adjusted'],
      dtype='object', name=0)

In [39]:
# Rename specific columns
combined_df.rename(columns={"Quar- ter": "Quarter", "Manufac- turing": 
                            "Manufacturing","Construc- tion":"Construction",
                            "Accomm odation & Food\nServices": "Accomodation, Food and Services",
                            "Informatio n and communi\ncation":"Information and Communication",
                            "Public admi- nistration":"Public Adminsitration",
                            "Professio nal, admin and support services":"Professional,Admin and Support Services",
                            "Educatio n":"Education"}, inplace=True)

# Print the updated column titles
print(combined_df.columns)

Index(['Year', 'Quarter', 'Agriculture', 'Mining and quarrying',
       'Manufacturing', 'Electricity & water supply', 'Construction',
       'Wholesale and retail trade', 'Accommo dation & restaurant',
       'Transport and storage', 'Information and communic\nation', 'Year',
       'Quarter', 'Financial & insurance', 'Public Adminsitration',
       'Professional,\nadmin and support services', 'Real estate', 'Education',
       'Health', 'Other services', 'FISIM', 'All indust. at basic prices',
       'Taxes on products', 'GDP at market prices',
       'GDP,\nseasonally adjusted'],
      dtype='object', name=0)

For purposes of this analysis, the "All industires at basic prices" "GDP at market Prices" & "GDP,\nseasonally adjusted" and "Quarter" will be dropped.

In [40]:
#Dropping the mentinoed columns
columns_to_drop =["Quarter"]
combined_df.drop(columns=columns_to_drop, inplace=True)

#Print the updated column titles
print(combined_df)

0   Year Agriculture Mining and quarrying Manufacturing  \
1   2018     1587784                79986        738305
2   2019     1630607                83386        757794
3   2020     1705985                87968        755608
4   2021     1699959               103842        810827
5   2022     1672085               113458        833052
6    NaN         NaN                  NaN           NaN
7   2018      423098                21870        187632
8    NaN      445341                20268        180342
9    NaN      366861                18196        179287
10   NaN      352484                19653        191045
11   NaN         NaN                  NaN           NaN
12  2019      443440                21596        192686
13   NaN      459892                21679        188246
14   NaN      370177                19192        184179
15   NaN      357099                20920        192683
16   NaN         NaN                  NaN           NaN
17  2020      464519                23013        195926
18   NaN      497268                22538        178601
19   NaN      353815                20270        180404
20   NaN      390382                22147        200678
21   NaN         NaN                  NaN           NaN
22  2021      461672                25404        199847
23   NaN      488136                24917        198361
24   NaN      351517                23512        199422
25   NaN      398634                30009        213196
26   NaN         NaN                  NaN           NaN
27  2022      453795                31446        207409
28   NaN      476539                29061        205560
29   NaN      346863                22450        202991
30   NaN      394888                30501        217091
31   NaN         NaN                  NaN           NaN
32  2022      480143                32494        211492

0  Electricity & water supply Construction Wholesale and retail trade  \
1                      214422       438962                     694215
2                      218146       470526                     730922
3                      219518       517977                     727727
4                      231759       552764                     786202
5                      243151       575215                     815937
6                         NaN          NaN                        NaN
7                       52487       108357                     170690
8                       53065       108842                     163064
9                       54353       112286                     176077
10                      54517       109477                     184383
11                        NaN          NaN                        NaN
12                      54066       114925                     178426
13                      53858       116807                     173385
14                      55181       121192                     185461
15                      55041       117601                     193649
16                        NaN          NaN                        NaN
17                      54832       126576                     187841
18                      51429       124923                     166594
19                      55650       133533                     176144
20                      57607       132945                     197147
21                        NaN          NaN                        NaN
22                      56984       134419                     204286
23                      55378       133581                     183685
24                      59626       142532                     187788
25                      59771       142233                     210443
26                        NaN          NaN                        NaN
27                      58780       142420                     214220
28                      58481       139622                     191186
29                      63179       147524                     194499
30                      62711       145649                     216032
31                        NaN          NaN                        NaN
32                      60123       146784                     226403

0  Accommo dation & restaurant Transport and storage  \
1                        88863                849165
2                       101584                902898
3                        53114                830249
4                        81037                891983
5                       102286                941947
6                          NaN                   NaN
7                        21935                206945
8                        21264                208400
9                        21126                218992
10                       24537                214827
11                         NaN                   NaN
12                       25339                221046
13                       23724                226661
14                       23642                229166
15                       28878                226025
16                         NaN                   NaN
17                       22437                225269
18                        9511                188177
19                        8520                205374
20                       12646                211430
21                         NaN                   NaN
22                       16095                207444
23                       16136                222933
24                       20880                235278
25                       27926                226329
26                         NaN                   NaN
27                       22550                223357
28                       23236                239047
29                       24410                247170
30                       32090                232373
31                         NaN                   NaN
32                       27403                237199

0  Information and communic\nation  ...  \
1                           241178  ...
2                           257959  ...
3                           273440  ...
4                           290224  ...
5                           319056  ...
6                              NaN  ...
7                            57093  ...
8                            54870  ...
9                            63589  ...
10                           65627  ...
11                             NaN  ...
12                           62132  ...
13                           58621  ...
14                           67725  ...
15                           69481  ...
16                             NaN  ...
17                           67393  ...
18                           61718  ...
19                           70812  ...
20                           73518  ...
21                             NaN  ...
22                           70811  ...
23                           69012  ...
24                           71801  ...
25                           78600  ...
26                             NaN  ...
27                           77160  ...
28                           76741  ...
29                           80275  ...
30                           84880  ...
31                             NaN  ...
32                           83904  ...

0  Professional,\nadmin and support services Real estate Education  Health  \
1                                     247144      802728    392401  176043
2                                     263996      856588    414661  185702
3                                     227920      891574    376307  196120
4                                     244148      951093    462227  213529
5                                     267097      993623    484217  223105
6                                        NaN         NaN       NaN     NaN
7                                      57885      195701     98630   40005
8                                      61509      198924     97374   43643
9                                      62920      202293     98095   44520
10                                     64829      205810     98303   47874
11                                       NaN         NaN       NaN     NaN
12                                     61765      209991    102178   42073
13                                     66473      213239    100591   45961
14                                     66033      215771    104633   47145
15                                     69725      217588    107259   50523
16                                       NaN         NaN       NaN     NaN
17                                     63263      218984    107896   44880
18                                     49390      221057     79015   49864
19                                     53919      223930     87327   49131
20                                     61348      227603    102070   52245
21                                       NaN         NaN       NaN     NaN
22                                     55501      232078    120859   48425
23                                     59276      236145    106214   54581
24                                     62149      239807    114311   52626
25                                     67222      243063    120843   57897
26                                       NaN         NaN       NaN     NaN
27                                     62786      245912    126404   51189
28                                     65744      248050    110851   57003
29                                     67748      249474    118775   54550
30                                     70818      250187    128188   60363
31                                       NaN         NaN       NaN     NaN
32                                     67366      258687    131012   53977

0  Other services    FISIM All indust. at basic prices Taxes on products  \
1          197479  -254198                     7583875            747016
2          205954  -278418                     7981005            775941
3          175831  -273375                     8019178            713883
4          197731  -287975                     8597270            798672
5          208959  -292296                     8996768            854561
6             NaN      NaN                         NaN               NaN
7           48578   -60428                     1884463            182979
8           48166   -59982                     1912828            188946
9           50019   -63847                     1877346            183190
10          50716   -69941                     1909238            191901
11            NaN      NaN                         NaN               NaN
12          51741   -66603                     1987463            180013
13          51448   -64533                     2028738            198753
14          52282   -68744                     1972132            191300
15          50483   -78537                     1992671            205876
16            NaN      NaN                         NaN               NaN
17          49844   -63971                     2076801            190042
18          39177   -64258                     1979245            157609
19          45028   -67223                     1911545            175032
20          41782   -77923                     2051586            191200
21            NaN      NaN                         NaN               NaN
22          45598   -67755                     2125464            194692
23          50385   -66591                     2169745            187892
24          52923   -70602                     2084736            196977
25          48825   -83026                     2217325            219112
26            NaN      NaN                         NaN               NaN
27          49676   -68283                     2251961            213191
28          52572   -67428                     2280130            199274
29          55929   -72217                     2168684            211332
30          50781   -84368                     2295993            230764
31            NaN      NaN                         NaN               NaN
32          51150   -68698                     2374107            222587

0  GDP at market prices GDP,\nseasonally adjusted
1               8330891                       NaN
2               8756946                       NaN
3               8733060                       NaN
4               9395942                       NaN
5               9851329                       NaN
6                   NaN                       NaN
7               2067442                   2048678
8               2101774                   2066830
9               2060536                   2093533
10              2101139                   2123801
11                  NaN                       NaN
12              2167476                   2145145
13              2227491                   2189115
14              2163432                   2207067
15              2198547                   2216841
16                  NaN                       NaN
17              2266843                   2239603
18              2136855                   2100512
19              2086577                   2139685
20              2242786                   2252897
21                  NaN                       NaN
22              2320156                   2286865
23              2357637                   2320407
24              2281713                   2352675
25              2436437                   2437345
26                  NaN                       NaN
27              2465152                   2423324
28              2479404                   2443881
29              2380016                   2466618
30              2526757                   2518478
31                  NaN                       NaN
32              2596694                   2547019

[32 rows x 23 columns]

In [41]:
print(combined_df)

0   Year Agriculture Mining and quarrying Manufacturing  \
1   2018     1587784                79986        738305
2   2019     1630607                83386        757794
3   2020     1705985                87968        755608
4   2021     1699959               103842        810827
5   2022     1672085               113458        833052
6    NaN         NaN                  NaN           NaN
7   2018      423098                21870        187632
8    NaN      445341                20268        180342
9    NaN      366861                18196        179287
10   NaN      352484                19653        191045
11   NaN         NaN                  NaN           NaN
12  2019      443440                21596        192686
13   NaN      459892                21679        188246
14   NaN      370177                19192        184179
15   NaN      357099                20920        192683
16   NaN         NaN                  NaN           NaN
17  2020      464519                23013        195926
18   NaN      497268                22538        178601
19   NaN      353815                20270        180404
20   NaN      390382                22147        200678
21   NaN         NaN                  NaN           NaN
22  2021      461672                25404        199847
23   NaN      488136                24917        198361
24   NaN      351517                23512        199422
25   NaN      398634                30009        213196
26   NaN         NaN                  NaN           NaN
27  2022      453795                31446        207409
28   NaN      476539                29061        205560
29   NaN      346863                22450        202991
30   NaN      394888                30501        217091
31   NaN         NaN                  NaN           NaN
32  2022      480143                32494        211492

0  Electricity & water supply Construction Wholesale and retail trade  \
1                      214422       438962                     694215
2                      218146       470526                     730922
3                      219518       517977                     727727
4                      231759       552764                     786202
5                      243151       575215                     815937
6                         NaN          NaN                        NaN
7                       52487       108357                     170690
8                       53065       108842                     163064
9                       54353       112286                     176077
10                      54517       109477                     184383
11                        NaN          NaN                        NaN
12                      54066       114925                     178426
13                      53858       116807                     173385
14                      55181       121192                     185461
15                      55041       117601                     193649
16                        NaN          NaN                        NaN
17                      54832       126576                     187841
18                      51429       124923                     166594
19                      55650       133533                     176144
20                      57607       132945                     197147
21                        NaN          NaN                        NaN
22                      56984       134419                     204286
23                      55378       133581                     183685
24                      59626       142532                     187788
25                      59771       142233                     210443
26                        NaN          NaN                        NaN
27                      58780       142420                     214220
28                      58481       139622                     191186
29                      63179       147524                     194499
30                      62711       145649                     216032
31                        NaN          NaN                        NaN
32                      60123       146784                     226403

0  Accommo dation & restaurant Transport and storage  \
1                        88863                849165
2                       101584                902898
3                        53114                830249
4                        81037                891983
5                       102286                941947
6                          NaN                   NaN
7                        21935                206945
8                        21264                208400
9                        21126                218992
10                       24537                214827
11                         NaN                   NaN
12                       25339                221046
13                       23724                226661
14                       23642                229166
15                       28878                226025
16                         NaN                   NaN
17                       22437                225269
18                        9511                188177
19                        8520                205374
20                       12646                211430
21                         NaN                   NaN
22                       16095                207444
23                       16136                222933
24                       20880                235278
25                       27926                226329
26                         NaN                   NaN
27                       22550                223357
28                       23236                239047
29                       24410                247170
30                       32090                232373
31                         NaN                   NaN
32                       27403                237199

0  Information and communic\nation  ...  \
1                           241178  ...
2                           257959  ...
3                           273440  ...
4                           290224  ...
5                           319056  ...
6                              NaN  ...
7                            57093  ...
8                            54870  ...
9                            63589  ...
10                           65627  ...
11                             NaN  ...
12                           62132  ...
13                           58621  ...
14                           67725  ...
15                           69481  ...
16                             NaN  ...
17                           67393  ...
18                           61718  ...
19                           70812  ...
20                           73518  ...
21                             NaN  ...
22                           70811  ...
23                           69012  ...
24                           71801  ...
25                           78600  ...
26                             NaN  ...
27                           77160  ...
28                           76741  ...
29                           80275  ...
30                           84880  ...
31                             NaN  ...
32                           83904  ...

0  Professional,\nadmin and support services Real estate Education  Health  \
1                                     247144      802728    392401  176043
2                                     263996      856588    414661  185702
3                                     227920      891574    376307  196120
4                                     244148      951093    462227  213529
5                                     267097      993623    484217  223105
6                                        NaN         NaN       NaN     NaN
7                                      57885      195701     98630   40005
8                                      61509      198924     97374   43643
9                                      62920      202293     98095   44520
10                                     64829      205810     98303   47874
11                                       NaN         NaN       NaN     NaN
12                                     61765      209991    102178   42073
13                                     66473      213239    100591   45961
14                                     66033      215771    104633   47145
15                                     69725      217588    107259   50523
16                                       NaN         NaN       NaN     NaN
17                                     63263      218984    107896   44880
18                                     49390      221057     79015   49864
19                                     53919      223930     87327   49131
20                                     61348      227603    102070   52245
21                                       NaN         NaN       NaN     NaN
22                                     55501      232078    120859   48425
23                                     59276      236145    106214   54581
24                                     62149      239807    114311   52626
25                                     67222      243063    120843   57897
26                                       NaN         NaN       NaN     NaN
27                                     62786      245912    126404   51189
28                                     65744      248050    110851   57003
29                                     67748      249474    118775   54550
30                                     70818      250187    128188   60363
31                                       NaN         NaN       NaN     NaN
32                                     67366      258687    131012   53977

0  Other services    FISIM All indust. at basic prices Taxes on products  \
1          197479  -254198                     7583875            747016
2          205954  -278418                     7981005            775941
3          175831  -273375                     8019178            713883
4          197731  -287975                     8597270            798672
5          208959  -292296                     8996768            854561
6             NaN      NaN                         NaN               NaN
7           48578   -60428                     1884463            182979
8           48166   -59982                     1912828            188946
9           50019   -63847                     1877346            183190
10          50716   -69941                     1909238            191901
11            NaN      NaN                         NaN               NaN
12          51741   -66603                     1987463            180013
13          51448   -64533                     2028738            198753
14          52282   -68744                     1972132            191300
15          50483   -78537                     1992671            205876
16            NaN      NaN                         NaN               NaN
17          49844   -63971                     2076801            190042
18          39177   -64258                     1979245            157609
19          45028   -67223                     1911545            175032
20          41782   -77923                     2051586            191200
21            NaN      NaN                         NaN               NaN
22          45598   -67755                     2125464            194692
23          50385   -66591                     2169745            187892
24          52923   -70602                     2084736            196977
25          48825   -83026                     2217325            219112
26            NaN      NaN                         NaN               NaN
27          49676   -68283                     2251961            213191
28          52572   -67428                     2280130            199274
29          55929   -72217                     2168684            211332
30          50781   -84368                     2295993            230764
31            NaN      NaN                         NaN               NaN
32          51150   -68698                     2374107            222587

0  GDP at market prices GDP,\nseasonally adjusted
1               8330891                       NaN
2               8756946                       NaN
3               8733060                       NaN
4               9395942                       NaN
5               9851329                       NaN
6                   NaN                       NaN
7               2067442                   2048678
8               2101774                   2066830
9               2060536                   2093533
10              2101139                   2123801
11                  NaN                       NaN
12              2167476                   2145145
13              2227491                   2189115
14              2163432                   2207067
15              2198547                   2216841
16                  NaN                       NaN
17              2266843                   2239603
18              2136855                   2100512
19              2086577                   2139685
20              2242786                   2252897
21                  NaN                       NaN
22              2320156                   2286865
23              2357637                   2320407
24              2281713                   2352675
25              2436437                   2437345
26                  NaN                       NaN
27              2465152                   2423324
28              2479404                   2443881
29              2380016                   2466618
30              2526757                   2518478
31                  NaN                       NaN
32              2596694                   2547019

[32 rows x 23 columns]

In [42]:
combined_df.head(20)

,Year,Agriculture,Mining and quarrying,Manufacturing,Electricity & water supply,Construction,Wholesale and retail trade,Accommo dation & restaurant,Transport and storage,Information and communic\nation,...,"Professional,\nadmin and support services",Real estate,Education,Health,Other services,FISIM,All indust. at basic prices,Taxes on products,GDP at market prices,"GDP,\nseasonally adjusted"
1,2018,1587784,79986,738305,214422,438962,694215,88863,849165,241178,...,247144,802728,392401,176043,197479,-254198,7583875,747016,8330891,NaN
2,2019,1630607,83386,757794,218146,470526,730922,101584,902898,257959,...,263996,856588,414661,185702,205954,-278418,7981005,775941,8756946,NaN
3,2020,1705985,87968,755608,219518,517977,727727,53114,830249,273440,...,227920,891574,376307,196120,175831,-273375,8019178,713883,8733060,NaN
4,2021,1699959,103842,810827,231759,552764,786202,81037,891983,290224,...,244148,951093,462227,213529,197731,-287975,8597270,798672,9395942,NaN
5,2022,1672085,113458,833052,243151,575215,815937,102286,941947,319056,...,267097,993623,484217,223105,208959,-292296,8996768,854561,9851329,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2018,423098,21870,187632,52487,108357,170690,21935,206945,57093,...,57885,195701,98630,40005,48578,-60428,1884463,182979,2067442,2048678
8,NaN,445341,20268,180342,53065,108842,163064,21264,208400,54870,...,61509,198924,97374,43643,48166,-59982,1912828,188946,2101774,2066830
9,NaN,366861,18196,179287,54353,112286,176077,21126,218992,63589,...,62920,202293,98095,44520,50019,-63847,1877346,183190,2060536,2093533
10,NaN,352484,19653,191045,54517,109477,184383,24537,214827,65627,...,64829,205810,98303,47874,50716,-69941,1909238,191901,2101139,2123801
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2019,443440,21596,192686,54066,114925,178426,25339,221046,62132,...,61765,209991,102178,42073,51741,-66603,1987463,180013,2167476,2145145
13,NaN,459892,21679,188246,53858,116807,173385,23724,226661,58621,...,66473,213239,100591,45961,51448,-64533,2028738,198753,2227491,2189115
14,NaN,370177,19192,184179,55181,121192,185461,23642,229166,67725,...,66033,215771,104633,47145,52282,-68744,1972132,191300,2163432,2207067
15,NaN,357099,20920,192683,55041,117601,193649,28878,226025,69481,...,69725,217588,107259,50523,50483,-78537,1992671,205876,2198547,2216841
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2020,464519,23013,195926,54832,126576,187841,22437,225269,67393,...,63263,218984,107896,44880,49844,-63971,2076801,190042,2266843,2239603
18,NaN,497268,22538,178601,51429,124923,166594,9511,188177,61718,...,49390,221057,79015,49864,39177,-64258,1979245,157609,2136855,2100512
19,NaN,353815,20270,180404,55650,133533,176144,8520,205374,70812,...,53919,223930,87327,49131,45028,-67223,1911545,175032,2086577,2139685
20,NaN,390382,22147,200678,57607,132945,197147,12646,211430,73518,...,61348,227603,102070,52245,41782,-77923,2051586,191200,2242786,2252897

In [43]:
# taking the yearly data i.e., first five columns and loading it into a data frame.

yearly_values_df = combined_df.head(5)
print(yearly_values_df)
# Define the path to the CSV file
csv_file_path = "KenyaGDP_yearly_values_2016constant_2018-2023.csv"

# Save the extracted DataFrame to a CSV file
yearly_values_df.to_csv(csv_file_path, index=False)

0  Year Agriculture Mining and quarrying Manufacturing  \
1  2018     1587784                79986        738305
2  2019     1630607                83386        757794
3  2020     1705985                87968        755608
4  2021     1699959               103842        810827
5  2022     1672085               113458        833052

0 Electricity & water supply Construction Wholesale and retail trade  \
1                     214422       438962                     694215
2                     218146       470526                     730922
3                     219518       517977                     727727
4                     231759       552764                     786202
5                     243151       575215                     815937

0 Accommo dation & restaurant Transport and storage  \
1                       88863                849165
2                      101584                902898
3                       53114                830249
4                       81037                891983
5                      102286                941947

0 Information and communic\nation  ...  \
1                          241178  ...
2                          257959  ...
3                          273440  ...
4                          290224  ...
5                          319056  ...

0 Professional,\nadmin and support services Real estate Education  Health  \
1                                    247144      802728    392401  176043
2                                    263996      856588    414661  185702
3                                    227920      891574    376307  196120
4                                    244148      951093    462227  213529
5                                    267097      993623    484217  223105

0 Other services    FISIM All indust. at basic prices Taxes on products  \
1         197479  -254198                     7583875            747016
2         205954  -278418                     7981005            775941
3         175831  -273375                     8019178            713883
4         197731  -287975                     8597270            798672
5         208959  -292296                     8996768            854561

0 GDP at market prices GDP,\nseasonally adjusted
1              8330891                       NaN
2              8756946                       NaN
3              8733060                       NaN
4              9395942                       NaN
5              9851329                       NaN

[5 rows x 23 columns]

4. Preparing Quarterly Data

In [44]:
# Extract the remaining rows (excluding the first 5 rows)
quarterly_data = combined_df.iloc[5:]

# Display the first few rows of the quarterly_data DataFrame
print(quarterly_data.head())

0   Year Agriculture Mining and quarrying Manufacturing  \
6    NaN         NaN                  NaN           NaN
7   2018      423098                21870        187632
8    NaN      445341                20268        180342
9    NaN      366861                18196        179287
10   NaN      352484                19653        191045

0  Electricity & water supply Construction Wholesale and retail trade  \
6                         NaN          NaN                        NaN
7                       52487       108357                     170690
8                       53065       108842                     163064
9                       54353       112286                     176077
10                      54517       109477                     184383

0  Accommo dation & restaurant Transport and storage  \
6                          NaN                   NaN
7                        21935                206945
8                        21264                208400
9                        21126                218992
10                       24537                214827

0  Information and communic\nation  ...  \
6                              NaN  ...
7                            57093  ...
8                            54870  ...
9                            63589  ...
10                           65627  ...

0  Professional,\nadmin and support services Real estate Education Health  \
6                                        NaN         NaN       NaN    NaN
7                                      57885      195701     98630  40005
8                                      61509      198924     97374  43643
9                                      62920      202293     98095  44520
10                                     64829      205810     98303  47874

0  Other services   FISIM All indust. at basic prices Taxes on products  \
6             NaN     NaN                         NaN               NaN
7           48578  -60428                     1884463            182979
8           48166  -59982                     1912828            188946
9           50019  -63847                     1877346            183190
10          50716  -69941                     1909238            191901

0  GDP at market prices GDP,\nseasonally adjusted
6                   NaN                       NaN
7               2067442                   2048678
8               2101774                   2066830
9               2060536                   2093533
10              2101139                   2123801

[5 rows x 23 columns]

In [45]:
# Drop rows where all values are NaN
quarterly_data_2 = quarterly_data.dropna(how='all')

# Display the updated DataFrame
print(quarterly_data_2)

0   Year Agriculture Mining and quarrying Manufacturing  \
7   2018      423098                21870        187632
8    NaN      445341                20268        180342
9    NaN      366861                18196        179287
10   NaN      352484                19653        191045
12  2019      443440                21596        192686
13   NaN      459892                21679        188246
14   NaN      370177                19192        184179
15   NaN      357099                20920        192683
17  2020      464519                23013        195926
18   NaN      497268                22538        178601
19   NaN      353815                20270        180404
20   NaN      390382                22147        200678
22  2021      461672                25404        199847
23   NaN      488136                24917        198361
24   NaN      351517                23512        199422
25   NaN      398634                30009        213196
27  2022      453795                31446        207409
28   NaN      476539                29061        205560
29   NaN      346863                22450        202991
30   NaN      394888                30501        217091
32  2022      480143                32494        211492

0  Electricity & water supply Construction Wholesale and retail trade  \
7                       52487       108357                     170690
8                       53065       108842                     163064
9                       54353       112286                     176077
10                      54517       109477                     184383
12                      54066       114925                     178426
13                      53858       116807                     173385
14                      55181       121192                     185461
15                      55041       117601                     193649
17                      54832       126576                     187841
18                      51429       124923                     166594
19                      55650       133533                     176144
20                      57607       132945                     197147
22                      56984       134419                     204286
23                      55378       133581                     183685
24                      59626       142532                     187788
25                      59771       142233                     210443
27                      58780       142420                     214220
28                      58481       139622                     191186
29                      63179       147524                     194499
30                      62711       145649                     216032
32                      60123       146784                     226403

0  Accommo dation & restaurant Transport and storage  \
7                        21935                206945
8                        21264                208400
9                        21126                218992
10                       24537                214827
12                       25339                221046
13                       23724                226661
14                       23642                229166
15                       28878                226025
17                       22437                225269
18                        9511                188177
19                        8520                205374
20                       12646                211430
22                       16095                207444
23                       16136                222933
24                       20880                235278
25                       27926                226329
27                       22550                223357
28                       23236                239047
29                       24410                247170
30                       32090                232373
32                       27403                237199

0  Information and communic\nation  ...  \
7                            57093  ...
8                            54870  ...
9                            63589  ...
10                           65627  ...
12                           62132  ...
13                           58621  ...
14                           67725  ...
15                           69481  ...
17                           67393  ...
18                           61718  ...
19                           70812  ...
20                           73518  ...
22                           70811  ...
23                           69012  ...
24                           71801  ...
25                           78600  ...
27                           77160  ...
28                           76741  ...
29                           80275  ...
30                           84880  ...
32                           83904  ...

0  Professional,\nadmin and support services Real estate Education Health  \
7                                      57885      195701     98630  40005
8                                      61509      198924     97374  43643
9                                      62920      202293     98095  44520
10                                     64829      205810     98303  47874
12                                     61765      209991    102178  42073
13                                     66473      213239    100591  45961
14                                     66033      215771    104633  47145
15                                     69725      217588    107259  50523
17                                     63263      218984    107896  44880
18                                     49390      221057     79015  49864
19                                     53919      223930     87327  49131
20                                     61348      227603    102070  52245
22                                     55501      232078    120859  48425
23                                     59276      236145    106214  54581
24                                     62149      239807    114311  52626
25                                     67222      243063    120843  57897
27                                     62786      245912    126404  51189
28                                     65744      248050    110851  57003
29                                     67748      249474    118775  54550
30                                     70818      250187    128188  60363
32                                     67366      258687    131012  53977

0  Other services   FISIM All indust. at basic prices Taxes on products  \
7           48578  -60428                     1884463            182979
8           48166  -59982                     1912828            188946
9           50019  -63847                     1877346            183190
10          50716  -69941                     1909238            191901
12          51741  -66603                     1987463            180013
13          51448  -64533                     2028738            198753
14          52282  -68744                     1972132            191300
15          50483  -78537                     1992671            205876
17          49844  -63971                     2076801            190042
18          39177  -64258                     1979245            157609
19          45028  -67223                     1911545            175032
20          41782  -77923                     2051586            191200
22          45598  -67755                     2125464            194692
23          50385  -66591                     2169745            187892
24          52923  -70602                     2084736            196977
25          48825  -83026                     2217325            219112
27          49676  -68283                     2251961            213191
28          52572  -67428                     2280130            199274
29          55929  -72217                     2168684            211332
30          50781  -84368                     2295993            230764
32          51150  -68698                     2374107            222587

0  GDP at market prices GDP,\nseasonally adjusted
7               2067442                   2048678
8               2101774                   2066830
9               2060536                   2093533
10              2101139                   2123801
12              2167476                   2145145
13              2227491                   2189115
14              2163432                   2207067
15              2198547                   2216841
17              2266843                   2239603
18              2136855                   2100512
19              2086577                   2139685
20              2242786                   2252897
22              2320156                   2286865
23              2357637                   2320407
24              2281713                   2352675
25              2436437                   2437345
27              2465152                   2423324
28              2479404                   2443881
29              2380016                   2466618
30              2526757                   2518478
32              2596694                   2547019

[21 rows x 23 columns]

In [46]:
import pandas as pd


# Create a new column "Filled_Year" to store the calculated years
quarterly_data_2["Filled_Year"] = None  # Initialize the new column

quarters_per_year = 4
current_year = 2018
quarter_counter = 1

for index, row in quarterly_data_2.iterrows():
    quarterly_data_2.at[index, "Filled_Year"] = current_year
    quarterly_data_2.at[index, "Quarters"] = quarter_counter
    
    quarter_counter += 1
    if quarter_counter > quarters_per_year:
        quarter_counter = 1
        current_year += 1

# Display the updated DataFrame
quarterly_data_2

C:\Users\PC\AppData\Local\Temp\ipykernel_10424\1509332246.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  quarterly_data_2["Filled_Year"] = None  # Initialize the new column
C:\Users\PC\AppData\Local\Temp\ipykernel_10424\1509332246.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  quarterly_data_2.at[index, "Quarters"] = quarter_counter

,Year,Agriculture,Mining and quarrying,Manufacturing,Electricity & water supply,Construction,Wholesale and retail trade,Accommo dation & restaurant,Transport and storage,Information and communic\nation,...,Education,Health,Other services,FISIM,All indust. at basic prices,Taxes on products,GDP at market prices,"GDP,\nseasonally adjusted",Filled_Year,Quarters
7,2018,423098,21870,187632,52487,108357,170690,21935,206945,57093,...,98630,40005,48578,-60428,1884463,182979,2067442,2048678,2018,1.0
8,NaN,445341,20268,180342,53065,108842,163064,21264,208400,54870,...,97374,43643,48166,-59982,1912828,188946,2101774,2066830,2018,2.0
9,NaN,366861,18196,179287,54353,112286,176077,21126,218992,63589,...,98095,44520,50019,-63847,1877346,183190,2060536,2093533,2018,3.0
10,NaN,352484,19653,191045,54517,109477,184383,24537,214827,65627,...,98303,47874,50716,-69941,1909238,191901,2101139,2123801,2018,4.0
12,2019,443440,21596,192686,54066,114925,178426,25339,221046,62132,...,102178,42073,51741,-66603,1987463,180013,2167476,2145145,2019,1.0
13,NaN,459892,21679,188246,53858,116807,173385,23724,226661,58621,...,100591,45961,51448,-64533,2028738,198753,2227491,2189115,2019,2.0
14,NaN,370177,19192,184179,55181,121192,185461,23642,229166,67725,...,104633,47145,52282,-68744,1972132,191300,2163432,2207067,2019,3.0
15,NaN,357099,20920,192683,55041,117601,193649,28878,226025,69481,...,107259,50523,50483,-78537,1992671,205876,2198547,2216841,2019,4.0
17,2020,464519,23013,195926,54832,126576,187841,22437,225269,67393,...,107896,44880,49844,-63971,2076801,190042,2266843,2239603,2020,1.0
18,NaN,497268,22538,178601,51429,124923,166594,9511,188177,61718,...,79015,49864,39177,-64258,1979245,157609,2136855,2100512,2020,2.0
19,NaN,353815,20270,180404,55650,133533,176144,8520,205374,70812,...,87327,49131,45028,-67223,1911545,175032,2086577,2139685,2020,3.0
20,NaN,390382,22147,200678,57607,132945,197147,12646,211430,73518,...,102070,52245,41782,-77923,2051586,191200,2242786,2252897,2020,4.0
22,2021,461672,25404,199847,56984,134419,204286,16095,207444,70811,...,120859,48425,45598,-67755,2125464,194692,2320156,2286865,2021,1.0
23,NaN,488136,24917,198361,55378,133581,183685,16136,222933,69012,...,106214,54581,50385,-66591,2169745,187892,2357637,2320407,2021,2.0
24,NaN,351517,23512,199422,59626,142532,187788,20880,235278,71801,...,114311,52626,52923,-70602,2084736,196977,2281713,2352675,2021,3.0
25,NaN,398634,30009,213196,59771,142233,210443,27926,226329,78600,...,120843,57897,48825,-83026,2217325,219112,2436437,2437345,2021,4.0
27,2022,453795,31446,207409,58780,142420,214220,22550,223357,77160,...,126404,51189,49676,-68283,2251961,213191,2465152,2423324,2022,1.0
28,NaN,476539,29061,205560,58481,139622,191186,23236,239047,76741,...,110851,57003,52572,-67428,2280130,199274,2479404,2443881,2022,2.0
29,NaN,346863,22450,202991,63179,147524,194499,24410,247170,80275,...,118775,54550,55929,-72217,2168684,211332,2380016,2466618,2022,3.0
30,NaN,394888,30501,217091,62711,145649,216032,32090,232373,84880,...,128188,60363,50781,-84368,2295993,230764,2526757,2518478,2022,4.0
32,2022,480143,32494,211492,60123,146784,226403,27403,237199,83904,...,131012,53977,51150,-68698,2374107,222587,2596694,2547019,2023,1.0

In [47]:
#Dropping 'year' column

quarterly_data_2.drop(columns="Year", inplace=True)

quarterly_data_2

C:\Users\PC\AppData\Local\Temp\ipykernel_10424\1723349956.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  quarterly_data_2.drop(columns="Year", inplace=True)

,Agriculture,Mining and quarrying,Manufacturing,Electricity & water supply,Construction,Wholesale and retail trade,Accommo dation & restaurant,Transport and storage,Information and communic\nation,Financial & insurance,...,Education,Health,Other services,FISIM,All indust. at basic prices,Taxes on products,GDP at market prices,"GDP,\nseasonally adjusted",Filled_Year,Quarters
7,423098,21870,187632,52487,108357,170690,21935,206945,57093,146213,...,98630,40005,48578,-60428,1884463,182979,2067442,2048678,2018,1.0
8,445341,20268,180342,53065,108842,163064,21264,208400,54870,148476,...,97374,43643,48166,-59982,1912828,188946,2101774,2066830,2018,2.0
9,366861,18196,179287,54353,112286,176077,21126,218992,63589,157455,...,98095,44520,50019,-63847,1877346,183190,2060536,2093533,2018,3.0
10,352484,19653,191045,54517,109477,184383,24537,214827,65627,177587,...,98303,47874,50716,-69941,1909238,191901,2101139,2123801,2018,4.0
12,443440,21596,192686,54066,114925,178426,25339,221046,62132,156897,...,102178,42073,51741,-66603,1987463,180013,2167476,2145145,2019,1.0
13,459892,21679,188246,53858,116807,173385,23724,226661,58621,162603,...,100591,45961,51448,-64533,2028738,198753,2227491,2189115,2019,2.0
14,370177,19192,184179,55181,121192,185461,23642,229166,67725,174236,...,104633,47145,52282,-68744,1972132,191300,2163432,2207067,2019,3.0
15,357099,20920,192683,55041,117601,193649,28878,226025,69481,186820,...,107259,50523,50483,-78537,1992671,205876,2198547,2216841,2019,4.0
17,464519,23013,195926,54832,126576,187841,22437,225269,67393,166990,...,107896,44880,49844,-63971,2076801,190042,2266843,2239603,2020,1.0
18,497268,22538,178601,51429,124923,166594,9511,188177,61718,168441,...,79015,49864,39177,-64258,1979245,157609,2136855,2100512,2020,2.0
19,353815,20270,180404,55650,133533,176144,8520,205374,70812,179678,...,87327,49131,45028,-67223,1911545,175032,2086577,2139685,2020,3.0
20,390382,22147,200678,57607,132945,197147,12646,211430,73518,205327,...,102070,52245,41782,-77923,2051586,191200,2242786,2252897,2020,4.0
22,461672,25404,199847,56984,134419,204286,16095,207444,70811,183908,...,120859,48425,45598,-67755,2125464,194692,2320156,2286865,2021,1.0
23,488136,24917,198361,55378,133581,183685,16136,222933,69012,190709,...,106214,54581,50385,-66591,2169745,187892,2357637,2320407,2021,2.0
24,351517,23512,199422,59626,142532,187788,20880,235278,71801,198755,...,114311,52626,52923,-70602,2084736,196977,2281713,2352675,2021,3.0
25,398634,30009,213196,59771,142233,210443,27926,226329,78600,229591,...,120843,57897,48825,-83026,2217325,219112,2436437,2437345,2021,4.0
27,453795,31446,207409,58780,142420,214220,22550,223357,77160,215148,...,126404,51189,49676,-68283,2251961,213191,2465152,2423324,2022,1.0
28,476539,29061,205560,58481,139622,191186,23236,239047,76741,221399,...,110851,57003,52572,-67428,2280130,199274,2479404,2443881,2022,2.0
29,346863,22450,202991,63179,147524,194499,24410,247170,80275,217741,...,118775,54550,55929,-72217,2168684,211332,2380016,2466618,2022,3.0
30,394888,30501,217091,62711,145649,216032,32090,232373,84880,251202,...,128188,60363,50781,-84368,2295993,230764,2526757,2518478,2022,4.0
32,480143,32494,211492,60123,146784,226403,27403,237199,83904,227613,...,131012,53977,51150,-68698,2374107,222587,2596694,2547019,2023,1.0

In [48]:
#Define File Path
csv_file_path = "KenyaGDP_quarterly_values_2016Constant_2018-2023.csv"

# Save the extracted DataFrame to a CSV file
quarterly_data_2.to_csv(csv_file_path, index=False)